.emailMeBtn{
    background: #565594;
    color: white;
    border: none;
    width: fit-content;
    padding: 10px;
    padding-right: 15px;
}
#sec-1-cont{
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
    margin-left: 10vw;
}

#sec-1-img{
    background-image: url(img/blackW1.jpg);
    background-position: center;
    background-size: cover;
    clip-path: polygon(13% 0, 99% 0, 100% 30%, 100% 70%, 100% 100%, 12% 100%, 0 86%, 0 13%);
    height: 100vh;
}

/* Section 2 About me stylling */
#sec-2{
    height: 50vh;
    color: #8b8e92;
    font-size: larger;
}

#sec-2-left-col{
    width: 50vw;
    margin-left: 5vw;
    margin-top: 35vh;
}
#sec-2 h3{
    color: #949eb8;
}
#sec-2-right-col{
    margin-top:35vh;
}
#sec-4{
    height: 150vh;
    background: #f2f5f7;
    color: #585c62;
}
#sec-4 h6{
    color: #8d98b4;
}
#sec-4 h5{
    color: #1c2029;
}
#sec-6 {
    height: 110vh;
    background: #f2f5f7;
    color: #585c62;
    font-size: 18px;
}
#sec-6 h6{
    color: #8d98b4;
}

#col-7{
    height: 100vh;
}

[class*='nav-link']:hover{
    text-decoration: underline;
}